configuration{
    modi: ["drun", "window", "run"];
    icon-theme: "Moka";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: false;
}
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
